@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #122633;
    --background-dark: #052133;
    --baground-transparent: #44606740;
    --foreground: white;
    --accent: #FFCF19;
    --accent-light: #ffdf6d;
    --accent-transparent: #ffcd191c;
    --destructive: #e24545;
    
    --primary: #122633;
    --primary-foreground: white;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

html {
  scroll-behavior: smooth
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-primary;
  }
  h1 {
    @apply text-3xl lg:text-5xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold mb-2;
  }
  p {
    @apply lg:text-lg;
  }
  a {
    @apply hover:underline hover:underline-offset-4 hover:text-accent;
  }
}
